@page "/"
@using TLSpammer.WEB.Services
@inject TelegramService telegramService;

<AuthorizeView>
    <Authorized>
        <h2>Authed</h2>
    </Authorized>
    <NotAuthorized>
        <h2>Not Authed</h2>
    </NotAuthorized>
</AuthorizeView>

@code
{
    
}
