@page "/"
@using TLSpammer.WEB.Services
@using TeleSharp.TL
@inject TelegramService telegramService;

<AuthorizeView>
    <Authorized>
        <h2>Добро пожаловать! :)</h2>
        <div class="input-group mb-3">
            <input type="text" class="form-control" @bind-value="telegramService.Login" placeholder="Номер телефона" aria-label="Phone number" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" @onclick="LoginToTelegram" type="button">Войти</button>
            </div>
        </div>
        @if (showCodeInputField)
        {
            if (cloudPasswordProtected)
            {
                <label for="code-input" style="color: red">Your account is password protected!</label>
            }
            <div class="input-group mb-3">
                @if (cloudPasswordProtected)
                {
                    <input type="password" class="form-control" @bind-value="code" id="code-input" placeholder="Код" aria-label="Code" aria-describedby="basic-addon2">
                }
                else
                {
                    <input type="text" class="form-control" @bind-value="code" id="code-input" placeholder="Код" aria-label="Code" aria-describedby="basic-addon2">
                }
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" @onclick="ApplyTelegramCode" type="button">Войти</button>
                </div>
            </div>
        }
        <div class="input-group mb-3">
            <input type="time"  class="form-control" @bind-value="SpamTime" />
            <textarea class="form-control" @bind-value:event="onchange" @bind-value="TextData"/>
        </div>
        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Имя
                    </th>
                    <th class="th-sm">В рассылке
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var chat in telegramService.SelectedChats)
            {
                <tr>
                    <td>@chat.Name</td>
                    @if (chat.IsSelected)
                    {
                        <td><input type="checkbox" @onchange="((args) => telegramService.SaveChangesAsync(args, chat))" checked /></td>
                    }
                    else
                    {
                        <td><input type="checkbox" @onchange="((args) => telegramService.SaveChangesAsync(args, chat))"/></td>
                    }
                </tr>
            }
            </tbody>
        </table>

    </Authorized>
    <NotAuthorized>
        <h2>Доступ запрещен! Пожалуйста, выполните вход!</h2>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private bool showCodeInputField = false;
    private bool cloudPasswordProtected = false;
    private string code = "";
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetUserChats();
    }
    
    public DateTime SpamTime
    {
        get
        {
            return this.telegramService.TimeOption.Time;
        }
        set
        {
            this.telegramService.UpdateTime(value);
        }
    }
    public string TextData
    {
        get
        {
            return this.telegramService.TextData.Text;
        }
        set
        {
            this.telegramService.UpdateTextData(value);
        }
    }

    public async Task LoginToTelegram()
    {
        this.showCodeInputField = await telegramService.InitTelegramAsync(telegramService.Login);
    }

    public async Task ApplyTelegramCode()
    {
        if (!cloudPasswordProtected)
        {
            this.cloudPasswordProtected = !(await telegramService.LoginWithCodeAsync(code));
        }
        else
        {
            await this.telegramService.LoginWithPasswordAsync(code);
        }
    }

    public async Task GetUserChats()
    {
        await LoginToTelegram();
        await telegramService.GetUserChats();
    }
}
